.title
{
	background: #041C3E;
    color: #e8ae23;
	padding: 0.5em;
	/*border: 1px solid #aacbe2;*/
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 110%;
}

.flash
{
	background: #cee5F5; padding: 0.5em;
	border: 1px solid #aacbe2;
}

.error
{
	/*background: #f0d6d6; */
	color: #ff0000;
	padding: 50px;
	vertical-align: middle;
	text-align: center;
}


.table-stats
{
    font-family: 'Arial';
    /*font-size: 95%;*/
    margin-top: 20px;
    width: auto;
    /*text-align: right;*/
}

.table-stats td
{
    padding-right: 10px;
    padding-left: 10px;
}

.table-stats th
{
    text-align: right;
    background-color: #fff;
    border-bottom: 1px solid #DDD;
}