.title
{
	background: #041C3E;
    color: #e8ae23;
	padding: 0.5em;
	/*border: 1px solid #aacbe2;*/
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 110%;
}

.flash
{
	background: #cee5F5; padding: 0.5em;
	border: 1px solid #aacbe2;
}

.error
{
	/*background: #f0d6d6; */
	color: #ff0000;
	padding: 50px;
	vertical-align: middle;
	text-align: center;
}

.table-metadata
{
    font-family: 'Arial Narrow';
    font-size: 95%;
    margin-top: 10px;
    width: auto;
    text-align: left;
}

.table-metadata td
{
    padding-right: 20px;
    border: 0px;
}

.table-metadata td.header
{
    padding-bottom: 0px;
}

.table-metadata td.data
{
    padding-top: 0px;
}

.table-stats
{
    font-family: 'Arial Narrow';
    font-size: 95%;
    margin-top: 20px;
    width: auto;
    /*text-align: right;*/
}

.table-stats td
{
    padding-right: 10px;
    padding-left: 10px;
}

.table-stats th
{
    text-align: right;
    background-color: #fff;
    border-bottom: 1px solid #DDD;
}

.subtable-stats
{
    font-size: 80%;
    font-family: 'Courier New';
    margin: 0px;
    width: auto;

}

.subtable-stats th, .subtable-stats td
{
    background-color: #FFFAD9;
}

.subtable-stats tr:hover td
{
    background-color: #FBEABA;
}

.config-xml
{
    font-size: 80%;
    font-family: 'Courier New';
}